.header {
    padding: 25px 0;
    text-align: center;
    background: rgb(59, 59, 59);
    width: 100%;
    height: 10%;
  }
  .header img {
    width: 10%;
    height: 1%;

    







    


  }

 